<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block documentTitle %}{% endblock %}</title>
  <link href="{{ config.fonts_api[config.fonts_api.active] }}Monda:400,700|PT+Mono:300,300italic,400,400italic,700,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class="{% block pageName %}{% endblock %}">
  {% include '../partials/browser-upgrade.njk' %}

  <header>
    {% block header %}
      {% include '../partials/menu.njk' %}
    {% endblock %}
  </header>

  <main>
    {% block main %}{% endblock %}
  </main>

  {% block footer %}
    {% include '../partials/footer.njk' %}
  {% endblock %}

  {% block scripts %}
    <script src="/assets/js/main.js"></script>
  {% endblock %}

</body>
</html>
